ai.txt
AoF scenario difficulty.per
AoF scenario upgrades.per
BruteForce.ai
BruteForce.per
builder market.per
builder resign.per
builder upgrades.per
mil scenario upgrades.per
scenario difficulty.per
scenario market.per
scenario resign.per
scenario upgrades.per

Brutal/
Constants/
Debug/
Dr3/
Economy/
Generics/
Military/